# node modules
node_modules/

# security
.env
.env.*

generated/*.*
provisioning/*.*
config/credentials.json
config/token.json
config/database.db
config/config.json

# test files
test.js
dev/*

.prettierrc