# node modules
node_modules/

# security
.env
.env.*

generated/*.*
provisioning/*.*
mail_queue/*.*
config/credentials.json
config/token.json
config/database.db
config/config.json
config/smartschool.json
config/ignored_users.json
config/custom_mapping.json

# test files
test.js
dev/*
dev/

.prettierrc