<%- include('inc/head.ejs', {links:[{rel:'stylesheet',href:'/pages/index.css'}], body_class: 'layout_1'}) %>
<main>
    <div class="card gloss">
        <h1 class="title">Select tabel</h1>
        <div class="list">
            <% tables.forEach(table => { %>
            <a href="/viewer/<%= table.name %>">
                <button class="btn block"><%= table.name %></button>
            </a>
            <% }) %>
        </div>
    </div>
</main>